
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    font-weight:bold;
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid #eee;
}
.item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color .10s ease-out;
    text-decoration: none;
   font:bolder;
    color: rgb(33, 5, 46);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 20px;
    margin: 8px 0;
   
  
  }
form{
  
  border-radius: 25px;
  position: relative;
}
  input{
    width: 40%;
    border-radius: 25px;
    font-size: 35px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 9px 9px 3px black
  }

  /* input:focus{
    outline: none
  } */

  button{
    position: relative;
    top:0;
    right: 100px;
    width: 50px;
    height:100%;
    border-radius:10%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
  }
  
  .book{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap

  }
  